body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


     /*NAVIGATION BAR*/
nav #about-bar{
    font-weight: bolder;
    color: bisque;
}


     /*MAIN SECTION*/
#aboutme{
    width: 80vw;
    height: 400px;
    margin-left: 15vw;
    background-color: darkkhaki ;
    text-align: center;
    padding: 30px;
    margin-top: 50px;
}
#aboutme h1{
    background-color: darkslategray;
    color: white;
    text-align: center;
    padding: 5px;
}
#aboutme p{
    font-size: medium;
    line-height: 3ch;
    font-weight: 600;

}
#social-links{
    display: flex;
    flex: 10px;
    gap: 50px;
    margin-left: 25vw;
    
    padding: 20px;
}
#social-links button{
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    width: 100px;
    transition: 0.3s ease;
}
#social-links a{
    text-decoration: none;
    color: darkslategray;
    text-align: center;
    font-size: medium;
    font-weight: bolder;
    transition: 0.3s ease;
}
#social-links button:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.5s;
}


     /*MEDIAQUERY*/

@media(max-width: 500px){
    nav{
        width: 100%;
    }
    nav ul{
        width: 100%;
    }
    #aboutme{
        flex-direction: column;
        flex-wrap: wrap;
        height: 500px;
        margin: auto;
        margin-top: 30px;
        border-radius: 20px;
    }
    h1{
        font-size: 32px;
        border-radius: 10px;
    }
    p{
        font-size: 16px;
        width: 350px;
    }
    #social-links{
        flex-direction: row;
        gap: 100px;
        margin: auto;
    }
}

